   /*검색창*/

   header #right-search-form > input[type="text"] {
    position: relative;
    border: 1.5px solid #96d294;
    background: #fff;
    font-size: 1em;
    padding: 0.5em 0.5em;
    border-radius: 13px;
}

/*돋보기*/

header #right-search-form>#right-search-btn {
    color: #96d294;
    background: transparent;
    border: none;
    font-size: 1.5em;
}



/*광고창*/

header #header-bar #header-menu-left {
    border-right: 1px solid #ffffff;
    padding-right: 0;
}

header #header-bar #header-menu-right {
    border-left: 1px solid #ffffff;
}

/*광고네모창*/

header #header-bar #header-top-notice strong.notice-badge {
    background: #96d294;
    padding: 5px 5px;
    color: #fff;
    font-weight: bold;
}

/*광고바*/

header #header-bar>.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 0px solid #ffffff;
    background: #ccedd7;
    border-bottom: 4px solid #96d294;
    border-right: 1px;
    border-radius: 15px;
}

/*광고메뉴*/

header #header-bar a.dropdown-toggle {
    display: inline-block;
    color: #96d294;
    text-decoration: none;
    padding: 0.3em 0;
}

/*좌측메뉴창*/

#main .menu-wrapper {
    border-right: 5px solid #96d294;        
    border-bottom: 5px solid #96d294;
    margin-bottom: 1em;
    border-left: 5px solid #96d294;
    border-radius: 15px 15px 5px 5px;
    border-top: 5px solid #96d294;
}

#main .menu-wrapper>.header {
    background: #96d294;
    color: #fff;
    padding: 0.45em 1.4em 0.45em 1em;
    font-weight: bold;
}

#main .menu-wrapper>a {
    display: block;
    background: #effcf6;
    padding: 0.3em 1.4em 0.3em 0.7em;
    text-decoration: none;
    color: #96d294;
    border-bottom: 2px solid #96d294;
}

#main .menu-wrapper>a>em {
    color: #96d294;
    text-decoration: none;
    font-style: normal;
    width: 30px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#main .menu-wrapper .spacer {
    background: #96d294;
    display: block;
    height: 0.5em;
}

#main .menu-wrapper>a>i.fa.fa-square {
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 0.1em;
    color: #96d294;
    vertical-align: 0.2em;
}

/*스트리머 프로필*/

#board-info {
    width: 100%;
    height: 105px;
    line-height: 1;
    margin: 0 0 1em;
    padding: 1em;
    overflow: visible;
}


#board-info #board-info-profile-img {
    width: 3em;
    height: auto;
    width: 6.5em;
    height: auto;
    float: left !important;
    margin-right: 15px;
    border-radius: 100px;
    border: solid 5px #ccedd7;
    

}


/*순위권*/

#board-info > h1 > .badge {

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ccedd7;
    border-radius: 10px;

}


/*접속자*/

#board-info #viewers-area {
    font-size: 14px;
    color: #7ee2a0;
    font-weight: normal;
    vertical-align: middle;
    line-height: 20px;
    display: inline-block;
}


#board-info #viewers-area #viewers:before {

    content: "국자 ";    /* 숫자 앞에 들어갈 문구 */

        /* ex) content: "트수 "; */

        /* 출력 시 : 트수 n */

    cursor: text;

}

#board-info #viewers-area #viewers:after {

    content: "명이 보고있노라!";    /* 숫자 뒤에 들어갈 문구 */

        /* ex) content: "명 접속중"; */

        /* 출력시 : n명 접속중 */

    cursor: text;

}

/*스트리머 메뉴*/

#board-info #board-info-bottom a {
    font-size: 12px;
    color: #ccedd7;
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    border-right: 1px solid #ebebeb;
}

#board-info h1 {
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 9px;
    margin-top: 29px;

}

/*게시판 헤더*/

#article-content-wrapper>.header {
    border-top: 7px solid #96d39b;
    background: #f6f6f6;
    padding: 0.6em 0.8em;
    border-radius: 15px 15px 0 0;
}

/*게시판 내용틀*/

#article-content-wrapper #article-content {
    float: none;
    clear: both;
    padding: 1em;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    word-wrap: break-word;
}

/*추천영역*/

#article-content-wrapper>.vote-area {
    text-align: center;
    padding: 0 0.8em 1.5em;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

/*목록영역*/

#article-content-wrapper>.footer {
    background: #ffffff;
    padding: 0.5em 0.8em;
}

/*댓글영역*/

#article-reply-area > .header h5 {
    font-size: 14px;
    color: #75a593;
    font-weight: bold;
}

#article-reply-area > a {
    color: #75a593;
    text-decoration: none;
}

/*댓글툴바*/

.fr-toolbar {
    color: #222;
    background: #fff;
    position: relative;
    z-index: 4;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    text-align: left;
    border: 0;
    border-top: 5px solid #75a593;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
}


/*카테고리*/

#article-list #article-list-category>a {
    display: inline-block;
    padding: 15px 34px;
    background: #effcf6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #75a593;
}

/*인기글네모*/

#article-list>.article-list-row.hot {
    background-color: #ccedd7;
}
#article-list>.article-list-row {
    text-align: center;
    display: table;
    width: 100%;
    border-right: 1px solid #ffffff;
}

/*게시글목록*/

#article-list>.article-list-row>.item>.list-title>.list-category {
    float: left;
    padding: 0 11px;
    border-left: 1px solid #ccedd7;
    border-right: 1px solid #ccedd7;
    text-align: center;
    min-height: 16px;
    line-height: 16px;
    margin-right: 5px;
}

#article-list>.article-list-row {
    text-align: center;
    display: table;
    width: 100%;
    border-right: 1px solid #effcf6;
}

#article-list>.article-list-row>.item>.list-header {
    width: 40px;
    border-left: 1px solid #effcf6;
}

/*댓글수*/

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    text-align: center;
    padding: 0 5px;
    color: #75a593;
    word-break: break-word;
    border-radius: 1px;
    top: 2px;
    float: left;
}

/*게시글 오른쪽*/

#article-list>.article-list-row>.item>.list-title>.list-writer {
    float: right;
    padding: 0 11px;
    border-left: 1px solid #ccedd7;
    border-right: 1px solid #ccedd7;
    text-align: center;
    min-height: 16px;
    line-height: 16px;
}

/*작성자*/

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #75a593;
    font-weight: bold;
}

/*시간*/

#article-list>.article-list-row>.item>.list-time {
    width: 60px;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color: #75a593;
}

/*읽었던 글*/

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #a3f3a0 !important;
}

/*게시글*/

#article-list>.article-list-row>.item>.list-title>a {
    color: #5b7e70 !important;
    text-decoration: none;
    line-height: 18px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    height: 18px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
}

/*추천수*/

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #75a593;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px;
}

/*인기글버튼*/

#article-list #article-list-menu>.btn.best {
    position: absolute;
    left: 0;
    color: #75a593;
    background-image: none;
    background-color: transparent;
    border-color: #75a593;
    border-radius: 100px;
}

/*글쓰기버튼*/

#article-list #article-list-menu>.btn-primary {
    color: #fff;
    background-color: #75a593;
    border-color: #75a593;
    border-radius: 100px;
}

/*추천버튼*/



.vote-btn[data-type="up"] {

  border: none;

  font-size: 0;

  outline: 0 !important; 

}



.vote-btn[data-type="up"]:hover {

  background: none !important;

}



.vote-btn[data-type="up"]::before {

  display: inline-block;

  background: white;

  border: solid #ccedd7 1px;

  float: left;

  width: 60px;

  height: 60px;

  border-radius: 60px;

  font-size: 26pt;

  content: "\f164";

  padding-top: 17px;

  padding-left: 2px;

  font: normal 22px/1 FontAwesome;

  -moz-transition:color .2s ease;

  -o-transition:color .2s ease;

  -ms-transition:color .2s ease;

  -webkit-transition:color .2s ease;

  transition:color .2s ease;

}



.vote-btn[data-type="up"]:hover::before {

  background: #ccedd7;

  color: white;

}





.vote-btn[data-type="up"]:focus::before {

  color: #ccedd7;

}



.vote-btn[data-type="up"]:focus:hover::before {

  color: white;

}



.vote-btn[data-type="up"] span {

  float: left;

  padding-top: 14px;

  padding-left: 15px;

  font-size: 22px;

  color: #ccedd7;

}

.btn-outline-success {
    color: #ccedd7;
    background-image: none;
    background-color: transparent;
    border-color: #ccedd7;
}

/*비추천버튼*/



.vote-btn[data-type="down"] {

  border: none;

  font-size: 0;

  outline: 0 !important; 

}



.vote-btn[data-type="down"]:hover {

  background: none !important;

}



.vote-btn[data-type="down"]::before {

  display: inline-block;

  background: white;

  border: solid #bfcbe8 1px;

  float: left;

  width: 60px;

  height: 60px;

  border-radius: 60px;

  font-size: 26pt;

  content: "\f164";

  padding-top: 17px;

  padding-left: 2px;

  font: normal 22px/1 FontAwesome;

  -moz-transition:color .2s ease;

  -o-transition:color .2s ease;

  -ms-transition:color .2s ease;

  -webkit-transition:color .2s ease;

  transition:color .2s ease;

}



.vote-btn[data-type="down"]:hover::before {

  background: #bfcbe8;

  color: white;

}





.vote-btn[data-type="down"]:focus::before {

  color: #bfcbe8;

}



.vote-btn[data-type="down"]:focus:hover::before {

  color: white;

}



.vote-btn[data-type="down"] span {

  float: left;

  padding-top: 14px;

  padding-left: 15px;

  font-size: 22px;

  color: #bfcbe8;





}

.btn-outline-primary {
    color: #bfcbe8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }


/*게시판 카테고리*/

#article-list #article-list-category {
    background: #effcf6;
    border-top: 12px solid #75a593;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #fff;
}

#article-list #article-list-category>a {
    display: inline-block;
    padding: 15px 34px;
    background: #effcf6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #75a593;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 1px solid #ccedd7;
    display: table-cell;
    vertical-align: middle;
}


/* 배경 */



body {

    height: auto !important;

    background: #fcefef;    /* 배경색 코드 입력 */

        /* ex) background: #ffffff; */

}

/* 로고 */

header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://i.ibb.co/5skD2x7/image.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;
}



header .row>div:nth-child(1)>a>img {

  display: none;

}

/*로고 애니메이션*/

@keyframes logo {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}
}	
		
#header .row>div:nth-child(1)>a>img  {
    animation-name: logo;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}








/*댓글쓰기 버튼*/

.btn-primary {
    color: #fff;
    background-color: #75a593;
  
  border-color: #75a593;
}

/*전체틀*/

#main #main-content>div.frame {
    background: #fff;
    border-right: 2px solid #effcf6;
    border-bottom: 2px solid #effcf6;
}

/*공지글*/

#article-list>.article-list-row.notice {
    background-color: #ccedd7;
}


span.a-badge i.fa.fa-info-circle {
    color: #75a593;
    vertical-align: -2px !important;
}


#article-list>.article-list-row>.item>.list-title>small.favo {
    font-size: 11px;
    line-height: 13px;
    position: relative;
    text-align: center;
    padding: 0px 2px;
    color: #ff0000;
    word-break: break-word;
    border-radius: 1px;
    top: 3px;
    float: left;
    
}


/* 마우스 커서 포인터 */


/*
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://i.ibb.co/2nfZKHm/image.png) 35 65, auto !important;
}


*/

/* 마우스 커서 링크 */


/*
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://i.ibb.co/2nfZKHm/image.png) 35 65, auto !important;
}

*/

/*폰트*/



@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            


*{font-family:'Recipekorea'} 


/*상단배너*/


header:before {

    display: block;

    width: 100%;

    height: 78px;

    background: url(https://i.ibb.co/9ZtF8T7/image.png) no-repeat;   

    background-position: center center;

    position: relative;

    top: 0;

    padding: 0;

    content: " ";

    margin-bottom: 15px;

}

header {

    padding: 0 0 0.4em 0;

}

/*댓글세모*/

#article-reply-area > .header h5 

a {
    color: #75a593;
    text-decoration: none;
}

/* 현재 페이지 표시, 누를 페이지 표시 */



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    color: #75a593;

    background-color: #fff;

    margin-top: 2px;

    

}



/* 페이지 표시 */



.pagination>li>a, .pagination>li>span {

    color: #75a593;

    background-color: #fff;

    border: none;

    

}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {

    background-color: #fff;

    border-color: #75a593;

}

/*마우스 드래그*/

::selection {

   background: #ccedd7;

   color: #fff;

}

/*덧글색상*/

#article-list>.article-list-row>.item>.list-title>small.comment-count {

    font-size: 12px;

    font-weight: bold;

    line-height: 13px;

    position: relative;

    text-align: center;

    padding: 0 5px;

    color: #75a593;

    word-break: break-word;

    border-radius: 1px;

    top: 2px;

    float: left;

}

/*토글*/
#article-list #article-option-area>#article-option-area-toggle-btn {
    background: #effcf6;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 13px;
}

/*게시글 리스트 마우스 오버시 색상 설정*/

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
    background-color: #effcf6
}

/*덧글*/

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    margin-bottom: 0.5em;
    border: 1px solid #ffffff;
    position: relative;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #ffffff;
    border-bottom: 1px solid #ccedd7;
    padding: 0.4em 0.5em;
}


#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu

a {
    color: #75a593;
    text-decoration: none;
}

/*페이지 부분 마우스 오버시 설정 값*/

.pagination>li>a:hover {

    background-color: #75a593;

    color: #fff;

}

/*댓글 쓰기 마우스 오버 설정 값*/


.btn-primary:hover {

    background-color: #fff;

    color: #75a593;

    border-bottom: 1px solid #75a593;
    border-right: 1px solid #75a593;
    border-left: 1px solid #75a593;
    border-top: 1px solid #75a593;

}



/*게시글 공지부분 배경 색상*/
#article-list>.article-list-row.notice {
    background-color: #ccedd7
}

/*공지글 표시 마크*/

span.a-badge i.fa.fa-info-circle {
    color: #75a593;
    vertical-align: -2px !important;
}


/* 별 애니메이션 */

/*
@keyframes binglebingle { from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

span.a-badge i.fa.fa-star { animation: binglebingle 4s infinite; }
*/

/*스크롤 할때 하단이미지*/


/*
#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://upload.tgd.kr/20190615/411fb49a1ce5762b4628daa81b508165.png);    width: 80px;  height: 80px;background-size: contain;}
*/
body {

    background-image: linear-gradient(to right, rgb(166, 252, 218), rgb(173, 122, 255)),
                    url();

    /* 방향 = to bottom, to right, to left, to top */

    height: auto;

}

/*큰틀*/

#main #main-content>div.frame {
    background: #ffffff;
    border-right: 2px solid #f3bb6300;
    border-bottom: 2px solid #effcf600;
    border-radius: 20px 20px 20px 20px; 
}

/*접속인원 이모티콘*/

/*
#board-info #viewers-area .fa-user:before {

 color: rgba(10, 59, 84, 0);

 content: url(https://upload.tgd.kr/20190616/d02e95833d318a29f9cd9b54991758b3.png);

}
*/

/*프로필 이미지 애니메이션*/
 
@keyframes aduck {
	0% {
        transform: translateX(0%);
    
	}
	50% {
        transform: translateX(8%);
    
	}	
	100% {
        transform: translateX(0%);
    
	}
}	

#board-info-profile-img  {
    animation-name: aduck;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


/*게시판 점수*/

#board-info #score-area {
    font-size: 14px;
    color: #ccedd7;
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
}

/*트게더 전체 메뉴*/

#main .menu-wrapper>a:hover {

     background-color: #effcf6

}